.report{
    width: 390px;
    border: 2px solid rgba(155, 154, 154, 0.1);
    border-radius: .9rem;
    padding: 1rem;
    background-image: linear-gradient(180deg, rgba(201, 201, 201, 0.027), rgba(189, 186, 186, 0.089));
    backdrop-filter: blur(10px);
    color: rgb(77, 72, 72);
    /* height: 100%; */
}

.recovered{
    color: green;
}

.deaths{
    color: red;
}

.covid-info{
    font-weight: 500;
}

@media screen and (max-width: 490px){
    .report{
        width: 300px;
    }
}